.full-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.footer {
  background-color: rgb(0, 78, 54);
  color: white;
}
.footer img {
  width: 75px;
  margin-left: 30px;
}
.footer-top {
  display: flex;
  justify-content: space-evenly;
}
.footer-top div {
  margin: 5px;
}
.footer-bottom {
  background-color: rgb(5, 122, 87);
  display: flex;
  justify-content: space-evenly;
}
h4 {
  font-size: 13px;
}
.header {
  align-items: center;
  background-color: rgb(0, 78, 54);
  color: white;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  width: 100%;
}
.header img {
  height: 40px;
}
.header a {
  text-decoration: none;
  color: white;
}
.nav {
  background-color: rgb(239, 239, 239);
  box-shadow: 1px 1px 15px 1px gray;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.nav a {
  color: rgb(0, 78, 54);
  font-weight: bold;
  text-decoration: none;
  margin: 8px;
}
.main {
  margin: auto;
  margin-top: 140px;
}
.sale {
  margin: auto;
}
.sale img {
  width: 100%;
}
.sales-hype {
  background-color: white;
  position: absolute;
  height: 300px;
  width: 320px;
  top: 150px;
}
.sales-hype p {
  font-size: 12px;
}
.productImg {
  margin-top: 80px;
}
.productImg img {
  margin: auto;
}
.search {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 40px;
  width: 200px;
}
.searchbox {
  margin: auto;
}
.search button {
  background-color: transparent;
  border: transparent;
  color: rgb(0, 78, 54);
}
.search input {
  background-color: transparent;
  border: transparent;
}
